services:
  enshrouded:
    image: enshrouded-windocker:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "15636:15636/udp"
      - "15636:15636/tcp"
      - "15637:15637/udp"
      - "15637:15637/tcp"
    volumes:
      - ../enshrouded:C:\enshrouded
    deploy:
      resources:
        limits:
          cpus: '4.0'
        reservations:
          cpus: '2.0'

